@mixin flex($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin absoluteFull {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
