.movie-detail {
    @include themify($themes) {
        position: relative;
        height: 60rem;
        @include flex(center, center);
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: themed('before');
            z-index: 1;
        }
        &__image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__info{
            position: relative;
            text-align: center;
            z-index: 2;
            max-width: 80rem;
        }
        &__title{
            color: themed('movie-detail-text');
            font-size: 6rem;
            text-transform: uppercase;
            letter-spacing: .4rem;
        }
        &__desc{
            color: themed('movie-detail-text');
            margin: 2rem 0;
            font-size: 1.6rem;
            line-height: 1.6;
        }
    }
}
