.button {
    background-image: linear-gradient(to right, #1d976c 0%, #93f9b9 51%, #1d976c 100%);
    padding: 1.5rem 4.5rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border-radius: 0.4rem;
    font-weight: 500;
    letter-spacing: .2rem;
    transition: 0.5s;
    &:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
}
