.comment {
    @include themify($themes) {
        @include flex(flex-start, flex-start);
        padding: 1rem 1rem;
        background: themed('comment');
        border-radius: .4rem;
        &:not(:last-child){
            margin: 1rem 0;
        }
        &__image{
            margin-right: 1.5rem;
            img{
                border-radius: 50%;
            }
        }
        &__info{
            @include flex(flex-start, space-between);
            gap: 4rem;
            width: 100%;
            color: themed('comment-text');
        }
        &__text{
            width: 85%;
        }
        &__author{
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        &__desc{
            font-size: 1.4rem;
            line-height: 1.4;
        }
        &__date{
            width: 15%;
            text-align: right;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}
