.movie-card {
    @include themify($themes) {
        position: relative;
        @include flex(flex-end, unset);
        overflow: hidden;
        border-radius: 0.5rem;
        height: 50rem;
        transition: opacity 1s ease-in-out;
        &:hover &__play {
            opacity: 1;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: themed('before');
            z-index: 2;
        }
        &__image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__info {
            position: relative;
            z-index: 3;
            padding: 3rem 0;
            width: 100%;
        }
        &__text {
            padding: 0 3rem;
        }
        &__title {
            color: themed('text');
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        &__desc {
            color: themed('text');
            font-size: 1.4rem;
            line-height: 1.6;
        }
        &__bottom {
            @include flex(center, space-between);
            margin-top: 2rem;
        }
        &__button {
            color: themed('text');
            background: themed('movie-button');
            padding: 1rem 2rem;
            border-top-right-radius: 3rem;
            border-bottom-right-radius: 3rem;
            font-weight: 600;
            font-size: 1.5rem;
            transition: all 0.4s;
            &:hover {
                background: themed('theme');
                color: themed('movie-button-text');
            }
        }
        &__date {
            color: themed('text');
            background: themed('movie-button');
            padding: 1rem 2rem;
            border-top-left-radius: 3rem;
            border-bottom-left-radius: 3rem;
            font-weight: 600;
            font-size: 1.5rem;
            transition: all 0.4s;
            &:hover {
                background: themed('theme');
                color: themed('movie-button-text');
            }
        }
        &__vote {
            position: absolute;
            top: 2rem;
            right: 2rem;
            color: themed('text');
            z-index: 10;
            font-size: 1.4rem;
            font-weight: 500;
            @include flex(center, unset);
            gap: 0.5rem;
            &-icon {
                color: themed('theme');
            }
        }

        &__play {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 5rem;
            height: 5rem;
            cursor: pointer;
            transform: translate(-50%, -50%);
            opacity: 0;
            @include flex(center, center);
            z-index: 10;
            transition: all 0.7s;
            &-icon {
                font-size: 5rem;
                color: themed('theme');
            }
        }
    }
}
