.pagination {
    @include themify($themes) {
        justify-content: center;
        padding: 2rem 0;
        button {
            border: none;
            background: themed('pagination-bg');
            margin: 0 1rem;
            padding: 1rem 2rem;
            font-size: 1.4rem;
            font-weight: 600;
            color: #fff;
            transition: all 0.5s;
            &:hover {
                opacity: 0.6;
            }
            &.active {
                background: themed('pagination-active');
                color: themed('text');
            }
            &.prev {
                border-top-left-radius: 3rem;
                border-bottom-left-radius: 0rem;
                background: themed('theme');
                color: themed('pagination-text');
            }
            &.next {
                border-top-right-radius: 3rem;
                border-bottom-right-radius: 0rem;
                background: themed('theme');
                color: themed('pagination-text');
            }
        }
    }
}
