.slider {
    @include themify($themes) {
        position: relative;
        &__arrow {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -0.5rem;
            cursor: pointer;
            z-index: 10;
            @include animation("horizontalMove 2.5s infinite");
        }
        &__wrapper {
            height: 97vh;
            position: relative;
        }

        &__item {
            position: relative;
            height: 100%;
            @include flex(center, flex-start);
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(themed('dark'), 0.73);
                z-index: 1;
            }
        }
        &__image {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: all 0.8s;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__info {
            position: relative;
            z-index: 100;
            max-width: 85rem;
            transform: scale(1.08);
            transition: all 0.7s ease-in-out;
            &-bottom {
                display: flex;
                align-items: center;
                gap: 2rem;
                margin-top: 1.5rem;
            }
        }
        &__vote {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            @include flex(center, center);
            border: 0.2rem solid themed('border');
            font-size: 1.3rem;
            color: themed('text');
            font-weight: 700;
        }
        &__date {
            color: themed('text');
            font-size: 1.4rem;
            font-weight: 700;
            padding-bottom: 0.5rem;
            display: inline-block;
            border-bottom: 2px solid themed('border');
            span {
                margin-left: 1rem;
                color: themed('theme');
            }
        }
        &__title {
            font-size: 4rem;
            line-height: 1.2;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            color: themed('text');
            margin: 1rem 0;
        }
        &__desc {
            line-height: 1.5;
            color: themed('text');
            letter-spacing: 0.15rem;
        }

        .swiper-slide-active {
            .slider__info {
                transform: scale(1);
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            background-color: themed('theme');
            width: 5rem;
            height: 5rem;
            border-radius: 0.4rem;
            transition: all 0.4s;
            @include tablet() {
                display: none;
            }
            &:hover {
                background-color: darken(themed('theme'), 15%);
            }
            &::after {
                font-size: 2rem;
                color: #fff;
                font-weight: 600;
            }
        }
        .swiper-button-prev {
            left: 2rem;
        }
        .swiper-button-next {
            right: 2rem;
        }
    }
}
