.tab {
    @include themify($themes) {
        border: none;
        justify-content: center;
        padding: 0 0 2rem;
        .nav-link {
            border: 0;
            color: themed('tab-text');
            text-transform: uppercase;
            border-radius: 0;
            font-size: 2rem;
            letter-spacing: 0.4rem;
            font-weight: 600;
            @include mobile(){
                font-size: 1.5rem;
            }
        }
        .nav-link.active {
            background: #4ade80;
            color: themed('tab-text');
        }
    }
}
