.tag {
    @include themify($themes) {
        @include flex(center, flex-start);
        flex-wrap: wrap;
        gap: 0.3rem;
        margin: 1rem 0;
        &__item {
            padding: 0.5rem 1rem;
            color: themed("text");
            border: 0.1rem solid themed("border");
            border-radius: 0.3rem;
        }
    }
}
