.footer {
    @include themify($themes) {
        padding: 1.5rem 0;
        background: themed('footer');
        text-align: center;
        &__copyright {
            color: themed('footer-text');
            span {
                color: themed('theme');
            }
        }
    }
}
