.footer {
    @include themify($themes) {
        padding: 1.5rem 0;
        background: themed('bg');
        text-align: center;
        &__copyright {
            color: #fff;
            span {
                color: themed('theme');
            }
        }
    }
}
