.search {
    @include themify($themes) {
        position: absolute;
        top: 0;
        right: 100%;
        width: 0;
        height: 100%;
        visibility: hidden;
        background: themed("toolbar");
        transition: all 0.5s ease-in-out;
        &.active {
            width: 30rem;
            visibility: visible;
        }
        &__form {
            @include flex(center, space-between);
            height: 100%;
        }
        &.active &__form {
            padding: 0 2rem;
        }
        &__input {
            width: 100%;
            background-color: transparent;
            border: none;
            color: #fff;
            padding: 0 0 0 1rem;
            font-size: 1.5rem;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: #fff;
            }
        }
        &__btn {
            background-color: transparent;
            border: none;
            color: themed("theme");
            font-size: 2.5rem;
        }
    }
}
