.toolbar {
    @include themify($themes) {
        position: fixed;
        right: 0;
        top: 20rem;
        // background: $color-bg;
        height: max-content;
        z-index: 500;
        @include mobile(){
            top: 10rem;
        }
        &__item {
            position: relative;
            color: themed('toolbar-text');
            background: themed('toolbar');
            font-size: 2.5rem;
            cursor: pointer;
            padding: 1.5rem 1rem;
            transition: all 0.5s;
            &:not(:last-child) {
                border-bottom: 1px solid themed('theme');
            }
        }
    }
}
